.add_course_form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}
.add_course_form input,
.add_course_form textarea {
  border: 1px solid black;
  padding: 5px 10px;
}
.add_course_form_submit {
  grid-column: 1 / span 2;
}
.logoutButton {
  padding: 0.5em 1em;
  background-color: rgb(240, 60, 60);
  color: #fff;
}
